name: CI

on: [push, pull_request]

jobs:
  test-solutions:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: '1.12.3.1577'

      - name: Cache clojure dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
          # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-

      - name: Test solutions
        run: clojure -M clojure/tests/solutions_tests.clj
